<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cdd8de;
  margin: 0px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #cad2d2 solid;
  color: #0c0c0c;
}
        </style>

    </head>
<body>
    <div class="container">
        <div class="row">

          <h1><div class="package="></h1>
            <div class="box">
                <h2>Teatro la fenice venice</h2>
<img src="https://tourismmedia.italia.it/is/image/mitur/20220505162757-teatro-la-fenice-sala-michele-crosera-1?wid=850&hei=500&fit=constrain,1&fmt=webp" width="600" height="333">

            </div>
          </div>

          <div class="Package=$630">
            <div class="box">
             <h2> <p>"Package=$630"</P></h2>
            </div>
          </div>

        </div>
      </div>


      <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>venetian arsenal</h2>
<img src="https://static.toiimg.com/photo/58337899.cms" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>Grand Canal</h2>
<img src="https://media1.thrillophilia.com/filestore/of7bxqx32mz5ux0gad82tekjj36o_1586604339_fi.jpg?w=400&dpr=2" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>libreria acqua alta</h2>
<img src="https://lh3.googleusercontent.com/-LjELBUNjjBY/V_PS7TOUxTI/AAAAAAABQHs/eER7KHs0rmM/libreria-acqua-alta-36.jpg?imgmax=1600https://lh3.googleusercontent.com/-LjELBUNjjBY/V_PS7TOUxTI/AAAAAAABQHs/eER7KHs0rmM/libreria-acqua-alta-36.jpg?imgmax=1600" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>church of san giorgio maggiore</h2>
<img src="https://venicelover.com/images/basilica-san-giorgio-maggiore.jpg" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>




</body>
</html>
