<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cdd8de;
  margin: 0px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #cad2d2 solid;
  color: #0c0c0c;
}
        </style>

    </head>
<body>
    <div class="container">
        <div class="row">

          <h1><div class="package="></h1>
            <div class="box">
                <h2>Tower Bridge</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Tower_Bridge_at_Dawn.jpg" width="600" height="333">

            </div>
          </div>

          <div class="Package=$630">
            <div class="box">
             <h2> <p>"Package=$630"</P></h2>
            </div>
          </div>

        </div>
      </div>


      <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>Hyde Park</h2>
<img src="https://www.royalparks.org.uk/sites/default/files/2023-09/RS53797_Serpentine%20Road%20%282%29-scr.jpg" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>Big Ben</h2>
<img src="https://resources.thomascook.in/images/holidays/sightSeeing/8-big-ben-min.jpg" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>Tower Of London</h2>
<img src="https://www.thetrainline.com/cms/media/5754/uk-london-tower-of-london.jpg?mode=crop&width=860&height=574&quality=70" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></h1>
          <div class="box">
              <h2>St.Pauls Cathedral</h2>
<img src="https://a.cdn-hotels.com/gdcs/production46/d334/e810fc12-169b-41c2-b5df-ce314353e7e4.jpg?impolicy=fcrop&w=800&h=533&q=medium" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>"Package=$630"</P></h2>
          </div>
        </div>

      </div>
    </div>




</body>
</html>
